/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {
  --clr-primary-400: hsl(42, 100%, 67%);
  --clr-primary-500: hsl(37, 67%, 60%);

  --clr-text-500-hsl: 0, 0%, 43.92%;
  --clr-title-hsl: 0, 0%, 22.35%;

  --clr-card: hsl(0, 0%, 100%);
  --clr-body: hsl(50, 60%, 99.02%);
  --clr-text-400: hsl(0, 0%, 59%);
  --clr-text-500: hsl(var(--clr-text-500-hsl));
  --clr-title: hsl(var(--clr-title-hsl));
  --clr-shadow: hsla(var(--clr-title-hsl), .1);

  /*Font Weight*/
  --fw-regular: 500;
  --fw-semibold: 600;

  --font: 'Poppins';

  /*Font Size*/
  /*Phone*/
  --fs-small: clamp(.8rem, 1vw + .05rem, .85rem);
  --fs-normal: clamp(.9rem, 2vw + .05rem, 1rem);
  --fs-h3: clamp(1rem, 3vw + .05rem, 1.2rem);
  --fs-h2: clamp(1.7rem, 5vw + .05rem, 2.25rem);
  --fs-h1: clamp(2.7rem, 8vw + .05rem, 4rem);

  /*Distance -> used for margins / paddings*/
  --d-1: 8px;
  --d-2: 16px;
  --d-3: 24px;
  --d-4: 32px;
  --d-5: 40px;
  --d-6: 48px;

  /*Z Index*/
  --z-tooltip: 10;
  --z-fixed: 50;

  --header-height: clamp(4rem, 9vw, 5.5rem);

  --gap: clamp(20px, 2vw, 35px);
}


/*Dark theme Variables*/
body.dark {
  --clr-text-500-hsl: 60, 5.15%, 80.98%;
  --clr-title-hsl: 60, 4%, 95%;

  --clr-card: hsl(60, 4.35%, 18.04%);
  --clr-body: hsl(60, 5.71%, 13.73%);
  --clr-text-500: hsl(var(--clr-text-500-hsl));
  --clr-title: hsl(var(--clr-title-hsl));
  --clr-shadow: hsla(var(--clr-title-hsl), .5);
}


/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-inline: 0;
}


/*Styles*/
html {
  scroll-behavior: smooth;
}

body {
  --padding-top: calc(var(--header-height) + 20px);

  font-family: var(--font), system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
  font-size: var(--fs-normal);
  background-color: var(--clr-body);
  color: var(--clr-text-500);
}

.btn {
  display: inline-block;
  font: inherit;
  font-weight: var(--fw-regular);
  color: var(--clr-body);
  padding: 15px 20px;
  background: var(--clr-primary-400);
  border: none;
  border-radius: 8px;
  box-shadow: 0 1px 5px var(--clr-shadow);
  cursor: pointer;
}

.btn:hover {
  background-color: var(--clr-primary-500);
}

.container {
  max-width: min(85%, 950px);
  margin: 0 auto;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--clr-primary-400);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--clr-title);
}

h3 {
  font-size: var(--fs-h3);
  color: var(--clr-title);
}

/*Icons*/
i {
  cursor: pointer;
  color: inherit;
}


nav a:hover,
footer a:hover {
  color: var(--clr-primary-400);
}


/*Header / Navbar*/
header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-body);
  z-index: var(--z-fixed);
}

header .container {
  max-width: min(90%, 1024px);
}

nav {
  font-weight: var(--fw-regular);
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  font-size: var(--fs-h3);
}

.menu-icon {
  font-size: 1.4rem;
  display: none;
}

@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: var(--d-2);
    transition: .4s;
    background-color: var(--clr-body);
    box-shadow: 0 4px 4px var(--clr-shadow);
    border-radius: 0 0 15px 15px;
  }

  #theme-icon {
    position: absolute;
    right: min(80px, 12vw);
    top: calc(var(--header-height) / -2 - 8px);
  }

  .show-menu {
    top: var(--header-height);
  }

  .menu-icon {
    display: initial;
  }
}


/*Main*/
section {
  padding-top: var(--padding-top);
}

main span {
  display: block;
  color: var(--clr-primary-400);
  font-weight: var(--fw-regular);
  margin-bottom: var(--d-1);
}

/*Home*/
.home .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: var(--gap);
}

.home h2 {
  margin: var(--d-3) 0;
}

@media screen and (max-width: 576px) {
  .home .container {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}


/*About*/
.about {
  text-align: center;
}

.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: clamp(50px, 7vw, 150px);
}

.about h2,
.about p {
  margin-bottom: var(--d-3);
}

.about img {
  border-radius: 10px;
  order: -1;
}

@media screen and (max-width: 576px) {
  .about .container {
    grid-template-columns: 1fr;
  }

  .about h2 {
    padding: 0 var(--d-6);
  }

  .about img {
    order: 0;
    width: 300px;
  }
}


/*Services*/
.services {
  text-align: center;
}

.services h3 {
  margin: var(--d-2) 0 var(--d-1);
}

.services svg {
  display: inline-block;
  fill: var(--clr-primary-400);
  width: 64px;
  height: 64px;
}

.services-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(230px, 1fr));
  gap: clamp(20px, 5vw, 50px);
  margin-top: var(--d-6);
}

.service-card p {
  padding: 0 var(--d-2);
}


/*Menu*/
.menu {
  --b-radius: 10px;
  text-align: center;
}

.menu-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  gap: clamp(20px, 4vw, 70px);
  margin-top: var(--d-6);
}

.menu-card {
  position: relative;
  background-color: var(--clr-card);
  border-radius: var(--b-radius);
  box-shadow: 0 2px 5px var(--clr-shadow);
  padding: clamp(13px, 2vw, 25px);
  text-align: initial;
}

.menu-card img {
  width: 130px;
  margin: 0 auto var(--d-2);
}

.menu-card p {
  margin: var(--d-1) 0 var(--d-2);
}

.menu-card span {
  font-weight: var(--fw-semibold);
  color: var(--clr-title);
}

.menu-card .btn {
  position: absolute;
  bottom: 0;
  right: 0;
  padding: 8px 15px;
  border-radius: var(--b-radius) 0;
}

@media screen and (max-width: 768px) {
  .menu-container {
    grid-template-columns: repeat(2, 1fr);
  }

  .menu-card img {
    width: 100px;
  }
}


/*Contact Us*/
.contact .container {
  display: grid;
  grid-template-columns: 2fr 1fr;
  place-items: center;
  gap: var(--gap);
}

@media screen and (max-width: 576px) {
  .contact .container {
    text-align: center;
    grid-template-columns: 1fr;
  }

  .contact-data p {
    margin: var(--d-3) 0;
  }
}


/*Footer*/
footer {
  padding: var(--padding-top) 0 var(--d-4);
}

footer h3 {
  font-size: calc(var(--fs-h3) + 5px);
  margin-bottom: var(--d-2);
}

footer .container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  justify-content: center;
  gap: var(--gap);
}

.footer-logo {
  display: block;
  font-size: var(--fs-h3);
  font-weight: var(--fw-semibold);
  color: var(--clr-primary-400);
}

.footer span {
  display: inline-block;
  font-size: var(--fs-small);
  margin: var(--d-1) 0 var(--d-3);
}

.social-icon {
  font-size: var(--fs-h2);
  margin-right: var(--d-2);
  color: var(--clr-title);
}

.footer li {
  margin-bottom: var(--d-1);
}

.footer-copy {
  font-size: var(--fs-small);
  margin-top: var(--d-5);
  color: var(--clr-text-400);
  text-align: center;
}

.footer-copy a {
  font-weight: var(--fw-semibold);
}

.footer-copy a:hover {
  color: var(--clr-primary-400);
}