/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");

:root {

  /*Color*/
  /*--clr-primary-hsl-400: hsl(42, 100%, 67%);*/
  /*--clr-primary-hsl-500: 37, 67%, 60%;*/

  /*--clr-primary-400: hsl(var(--clr-primary-hsl-400));*/
  /*--clr-primary-500: hsl(var(--clr-primary-hsl-500));*/

  --clr-primary-400: hsl(42, 100%, 67%);
  --clr-primary-500: hsl(37, 67%, 60%);

  --clr-card-hsl: hsl(0, 0%, 100%);
  --clr-body-hsl: hsl(50, 60%, 99%);
  --clr-text-hsl-400: hsl(0, 0%, 65%);
  --clr-text-hsl-600: hsl(0, 0%, 44%);
  --clr-header-hsl: hsl(0, 0%, 22%);

  --clr-card: var(--clr-card-hsl);
  --clr-body: var(--clr-body-hsl);
  --clr-text-500: var(--clr-text-hsl-400);
  --clr-text-600: var(--clr-text-hsl-600);
  --clr-header: var(--clr-header-hsl);

  /*Font Weight*/
  --fw-regular: 500;
  --fw-semibold: 600;

  --font: 'Poppins';

  /*Font Size*/
  /*Phone*/
  --fs-smaller: .75rem;
  --fs-small: .825rem;
  --fs-normal: clamp(.95rem, 2vw + .05rem, 1rem);
  --fs-h3: clamp(1.2rem, 3vw + .05rem, 1.5rem);
  --fs-h2: clamp(1.7rem, 5vw + .05rem, 2.25rem);
  --fs-h1: clamp(2.7rem, 8vw + .05rem, 4rem);

  /*PC*/
  /*--fs-smaller: .81rem;*/
  /*--fs-small: .885rem;*/
  /*--fs-normal: 1.15rem;*/
  /*--fs-h3: 1.5rem;*/
  /*--fs-h2: 2.25rem;*/
  /*--fs-h1: 4rem;*/

  /*Margins*/
  --mg-1: .5rem;
  --mg-2: 1rem;
  --mg-3: 1.5rem;
  --mg-4: 2rem;
  --mg-5: 2.5rem;
  --mg-6: 3rem;

  /*Z Index*/
  --z-tooltip: 10;
  --z-fixed: 50;

  --header-height: clamp(4rem, 9vw, 5.5rem);
}


/*Reset*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  font-family: inherit;
}

a {
  text-decoration: none;
  color: inherit;
}

img,
svg {
  display: block;
  max-width: 100%;
  height: auto;
}

ul {
  list-style: none;
  padding-inline: 0;
}


/*Styles*/
html {
  font-family: var(--font), system-ui, 'Segoe UI', Roboto, Helvetica, Arial, sans-serif;
}

body {
  /*margin: var(--header-height) 0 0 0;*/
  font-size: var(--fs-normal);
  background-color: var(--clr-body);
  color: var(--clr-text-600);
}

.btn {
  display: inline-block;
  font: inherit;
  color: #ffffff;
  padding: 15px 20px;
  background: var(--clr-primary-400);
  border: none;
  border-radius: 8px;
  cursor: pointer;
}

.container {
  max-width: min(95%, 1024px);
  margin: 0 auto;
}

h1 {
  font-size: var(--fs-h1);
  color: var(--clr-primary-400);
}

h2 {
  font-size: var(--fs-h2);
  color: var(--clr-header);
}

/*Icons*/
nav i {
  cursor: pointer;
  color: inherit;
}


/*Header / Navbar*/
header {
  /*TODO: Check this later*/
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: var(--clr-body);
  z-index: var(--z-fixed);
}

nav {
  font-weight: var(--fw-regular);
  /*max-width: min(95%, 1024px);*/
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-menu {
  display: flex;
  align-items: center;
  gap: 30px;
}

.logo {
  font-size: var(--fs-h3);
}

.menu-icon {
  font-size: 1.4rem;
  display: none;
}

nav a:hover {
  color: var(--clr-primary-400);
}

@media screen and (max-width: 768px) {
  .nav-menu {
    flex-direction: column;
    gap: 20px;
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    padding: var(--mg-2);
    transition: .4s;
    background-color: var(--clr-body);
    box-shadow: 0 4px 4px hsla(0, 0%, 0%, .1);
    border-radius: 0 0 15px 15px;
    z-index: -1;
  }

  .theme-icon {
    position: absolute;
    right: 3rem;
    top: min(-2.6rem, -5.7vw);
  }

  .show-menu {
    top: var(--header-height);
  }

  .menu-icon {
    display: initial;
  }
}


/*Main*/
main .container {
  max-width: min(90%, 950px);
}

/*Home*/
.home .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: clamp(20px, 2vw, 35px);
  margin-top: calc(var(--header-height) + 20px);
}

.home h2 {
  margin: var(--mg-3) 0;
}

@media screen and (max-width: 576px) {
  .home .container {
    grid-template-columns: 1fr;
    justify-items: start;
  }
}


/*About*/
.about {
  text-align: center;
}

.about .container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  gap: clamp(50px, 7vw, 150px);
  margin-top: calc(var(--header-height) + 20px);
}

.about span {
  display: block;
  color: var(--clr-primary-400);
  font-weight: var(--fw-regular);
  margin-bottom: var(--mg-1);
}

.about h2,
.about p {
  margin-bottom: var(--mg-3);
}

.about img {
  border-radius: 10px;
  order: -1;
}

@media screen and (max-width: 576px) {
  .about .container {
    grid-template-columns: 1fr;
  }

  .about h2 {
    padding: 0 var(--mg-6);
  }

  .about img {
    order: 0;
    width: 300px;
  }
}